.post-container {
    display: flex;
    justify-content: space-around;
}

.post-item {
    width: 200px;
    height: 100px;
    border: 1px solid lightgray;
    text-align: center;
    padding: 30px;
}

.post-item--name {

}

.post-item--vote {

}

.post-item--vote-cnt {
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url(/img/heart-empty.svg);
    background-size: contain;
    margin-top: 30px;
    position: relative;
}
.post-item--vote-cnt::after {
    content: attr(data-vote-cnt);
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 24px;
}
.post-item--vote-cnt.active {
    background-image: url(/img/heart-fill.svg);
}
.post-item--vote-cnt:not(.active):hover {
    cursor: pointer;
    background-image: url(/img/heart-fill.svg);
}